<div class="header-container">
    <ul style="list-style: none;">
      <li style="list-style: none;">
        <a routerLinkActive="active" [routerLink]="['home']" >Home</a></li>
      <li style="list-style: none;">
        <a routerLinkActive="active" [routerLink]="['leadinbox']" >Lead Inbox</a></li>
        <li style="list-style: none;">
          <a routerLinkActive="active" [routerLink]="['signup']" >Signup</a></li>
          <li style="list-style: none;">
            <a routerLinkActive="active" [routerLink]="['login']" >Login</a></li>
      <li style="list-style: none;">
        <a routerLinkActive="active" [routerLink]="['tasks']" >Tasks</a>
      </li>
    </ul>
    </div>