<div class="content-area">
  <app-dynamic-form
    [dynamicFormFieldData]="searchFormFields"
  ></app-dynamic-form>
  <div class="grid-container">
    <div class="grid-area-countCards">
      <div class="card">
        <div class="card-header">
          <h3>Total Proposals</h3>
        </div>
        <div class="card-content">
          <p>8504</p>
          <!-- @if( chartData$ | async; as myData ){
          <app-ng-charts
            [chartData]="myData"
            [chartType]="columnChartType"
            [chartOptionData]="columnChartOptions"
            (chartColumnSelect)="onSelectChart($event)"
          ></app-ng-charts>
          }@else{
          <div>No Data</div>
          } -->
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>On Process</h3>
        </div>
        <div class="card-content">
          <p>238</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Sanctioned</h3>
        </div>
        <div class="card-content">
          <p>234.44</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Rejected</h3>
        </div>
        <div class="card-content">
          <p>340.22</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Opened prending for > 30 days</h3>
        </div>
        <div class="card-content">
          <p>200</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Disbursed</h3>
        </div>
        <div class="card-content">
          <p>200</p>
        </div>
      </div>
    </div>
    <div class="grid-area-chart">
      <div class="card">
        <div class="card-header">
          <!-- <div class="row">
            <div class="col-4">Amount (O/S)Lakhs</div>
            <div class="col-4">Top 5</div>
            <div class="col-4">Zone</div>
          </div> -->
          <h3>Month Wise</h3>
        </div>
        <!-- @if( chartData$ | async; as myData ){ -->
        <app-ng-charts
          [chartData]="chartData$"
          [chartType]="columnChartType"
          [chartOptionData]="columnChartOptions"
          (chartColumnSelect)="onSelectChart($event)"
        ></app-ng-charts>
        <!-- }@else{
        <div>No Data</div>
        } -->
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Total Amount Sanctioned</h3>
        </div>
        @if( pieChartData$ | async; as myData ){
        <!-- <google-chart
          style="width: 100%; height: 100%"
          [type]="chartType"
          [data]="myData"
          [columns]="myColumns"
          [options]="chartOptions"
          (select)="onSelectChart($event)"
        ></google-chart> -->
        <app-ng-charts
          [chartData]="myData"
          [chartType]="piChart"
          [chartOptionData]="pieChartOptions"
          (chartColumnSelect)="onSelectChart($event)"
        ></app-ng-charts>
        }@else{
        <div>No Data</div>
        }
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Top 5 Branches</h3>
        </div>
        <div class="card-content">
          <table class="grid-table">
            <thead>
              <th></th>
              <th>Retail</th>
              <th>Agri</th>
              <th>MSME</th>
              <th>Gold Corp</th>
              <th>Total</th>
            </thead>
            <tbody>
              @if( branchesData){ @for(item of branchesData; track item){
              <tr>
                <td>{{ item.orgName }}</td>
                <td>{{ item.retail }}</td>
                <td>{{ item.agri }}</td>
                <td>{{ item.msme }}</td>
                <td>{{ item.gold }}</td>
                <td>{{ getTot(item) }}</td>
              </tr>
              } }@else{
              <tr>
                <td colspan="5">No Data</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    @if(allProductsSchemeDataList){
    <div class="grid-area-tableRecords">
      <div class="card">
        <div class="card-header">
          <h3>Scheme Wise Breakup</h3>
        </div>
        <div class="card-content">
          <table class="grid-table">
            <thead>
              <th>Loan Type</th>
              <th>Scheme</th>
              <th>No of Acc #</th>
              <th>Limit in (Lakhs)</th>
              <th>OS amt in(Lakhs)</th>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let loan of allProductsSchemeDataList | keyvalue"
              >
                <tr>
                  <td>
                    {{ loan.key }}
                  </td>
                  <td colspan="5" class="colspan">
                    <tr *ngFor="let item of $any(loan).value">
                      <td>{{ item.schemeType }}</td>
                      <td>{{ item.noOfAcc }}</td>
                      <td>{{ item.limit }}</td>
                      <td>{{ item.Sanctioned }}</td>
                    </tr>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    }
  </div>
</div>
