.fields-bar {
  // height: 54px;
  width:100vw;
  position:fixed;
  top:0;
  z-index:999;
  background-color: #111249;
  display: flex;
}
.grid-label-bar {
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 10px;
  padding: 5px 14px;
  display: grid;
  color: #fff;
  font-size: 13px;
  .list {
    display: flex;
    align-items: center;
  }
}
.lable {
  span {
    margin-left: 6px;
  }
}


input.picker[type="date"] {
  position: relative;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #fff;
  width: 118px;
  padding: 0 6px;
}
select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
select:focus-visible {
  outline: none;
}

input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
option {
  background-color: #fff;
  color: #000;
}

@media (max-width: 1089px) {
  .grid-label-bar .lastList {
    display: none;
  }
}

@media (max-width: 786px) {
  .grid-label-bar {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 580px) {
  .grid-label-bar {
    grid-template-columns: auto auto;
  }
}
