<div class="fields-bar">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit(dynamicForm.value)">
    <div class="grid-label-bar" *ngIf="dynamicForm.value.length != 0">
        
       
        
        
          <ng-container *ngFor="let field of dynamicFormFieldData;let i = index;">
          

      <div class="list" *ngIf="field.lovDataList && field.lovDataList.length > 0; else dynamicNonDropdown">
        <div class="lable">{{ field.lable }}<span>-</span></div>

        <select
          formControlName="{{ field.formControlKey }}"
          id="{{ field.formControlKey }}"
          (change)="seletedValue($event)"
          placeholder="Select"
        >
          <option selected value="">Select</option>
          <option [value]="item.value" *ngFor="let item of field.lovDataList;">{{ item.name }}</option>
          
        </select>
       
      </div>
      
      
    <ng-template #dynamicNonDropdown>
      <div class="list">
        <div class="lable">{{ field.lable }}<span>-</span></div>
        <input
          type="{{ field.type }}"
          class="picker"
          formControlName="{{ field.formControlKey }}"
          id="{{ field.formControlKey }}"
          (change)="seletedValue($event)"
          placeholder="Select"
        />
      </div>
    </ng-template>
     
    </ng-container>

      <div class="list lastList">
        <div class="lable">
          *Accounts in Actuals <br />
          *Ammount in Lakhs
        </div>
      </div>
    </div>
  </form>
</div>
